html {
    background-color:pink;
    background-image: url(images/1-big-viburnum.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.middle {
    background-color: rgba(240, 225, 255, 80%);
    padding: 30px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-color: green;
}