h1, h2, h3, ul {
    margin: 0;
}
.header {
    background-color: lightgray;
    background-image: url(images/4-uwm-hero.jpg);
    padding-bottom: 440px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    background-color:gold;
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
}